# Altium stuff
*.PcbDocPreview
*.SchDocPreview
*.SCHDOCPreview
*.PrjPCBStructure
*.PcbDoc.htm
/Altium/*/Project\ Logs\ for\ */
/Altium/*/Project\ Outputs\ for\ */
/Altium/History/
/Altium/*/History/
Thumbs.db

# Source files
/src/local.mk
/src/*.hex
/src/*.elf
/src/*/*.o
/src/.dep
/src/*.a
